In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sklearn.model_selection
from sklearn.model_selection import train_test_split

In [2]:
data_rating = pd.read_csv('original_data/ratings.csv')
data_movie = pd.read_csv('original_data/movies.csv')
data_link = pd.read_csv('original_data/links.csv')
data_tag = pd.read_csv('original_data/tags.csv')

print(len(data_rating))

100836

In [3]:
data_rating.describe()

              userId        movieId         rating     timestamp
count  100836.000000  100836.000000  100836.000000  1.008360e+05
mean      326.127564   19435.295718       3.501557  1.205946e+09
std       182.618491   35530.987199       1.042529  2.162610e+08
min         1.000000       1.000000       0.500000  8.281246e+08
25%       177.000000    1199.000000       3.000000  1.019124e+09
50%       325.000000    2991.000000       3.500000  1.186087e+09
75%       477.000000    8122.000000       4.000000  1.435994e+09
max       610.000000  193609.000000       5.000000  1.537799e+09

In [5]:

num_of_users = len(data_rating['userId'].unique())
num_of_movies = len(data_rating['movieId'].unique())
print('Number of users: ', num_of_users)
print('Number of movies: ', num_of_movies)

Number of users:  610
Number of movies:  9724

In [6]:
data_rating_sorted = data_rating.sort_values(by="timestamp")

print(data_rating_sorted.head())

       userId  movieId  rating  timestamp
66719     429      595     5.0  828124615
66716     429      588     5.0  828124615
66717     429      590     5.0  828124615
66718     429      592     5.0  828124615
66712     429      432     3.0  828124615

In [9]:
data_rating_sorted.to_csv('sorted_data/ratings.csv', index=False)

In [10]:
print(len(data_rating_sorted))

100836

In [11]:
data_rating_sorted = pd.read_csv('sorted_data/ratings.csv')

In [14]:
data_rating_sorted[:50]

    userId  movieId  rating  timestamp
0      429      595     5.0  828124615
1      429      588     5.0  828124615
2      429      590     5.0  828124615
3      429      592     5.0  828124615
4      429      432     3.0  828124615
5      429      421     4.0  828124615
6      429      420     2.0  828124615
7      429      227     3.0  828124615
8      429      225     4.0  828124615
9      429      222     4.0  828124615
10     429      218     4.0  828124615
11     429      434     4.0  828124615
12     429      351     4.0  828124615
13     429      343     3.0  828124615
14     429      165     4.0  828124615
15     429      161     5.0  828124615
16     429      150     5.0  828124615
17     429       22     4.0  828124615
18     429      349     3.0  828124615
19     429      468     3.0  828124615
20     429      257     4.0  828124616
21     429      256     4.0  828124616
22     429      261     5.0  828124616
23     429      266     4.0  828124616
24     429      270     5.0  828124616
25     429      274     4.0  828124616
26     429      276     3.0  828124616
27     429      279     3.0  828124616
28     429      317     5.0  828124616
29     429      281     4.0  828124616
30     429      237     4.0  828124616
31     429      236     4.0  828124616
32     429      208     3.0  828124616
33     429      207     5.0  828124616
34     429      204     4.0  828124616
35     429      195     4.0  828124616
36     429      186     4.0  828124616
37     429      185     5.0  828124616
38     429      169     3.0  828124616
39     429      168     5.0  828124616
40     429      151     4.0  828124616
41     429       60     4.0  828124616
42     429       48     4.0  828124616
43     429      252     5.0  828124616
44     429      282     4.0  828124616
45     429      234     2.0  828124616
46     429      292     5.0  828124616
47     429      294     3.0  828124616
48     429      300     4.0  828124616
49     429      315     4.0  828124616

In [18]:
# add synthetic gender column

# Step 1: Get unique userIds
unique_users = data_rating_sorted["userId"].unique()

# Step 2: Randomly assign a gender to each user
user_gender = pd.DataFrame({
    "userId": unique_users,
    "gender": np.random.choice(["M", "F"], size=len(unique_users), p=[0.5, 0.5])
})

# Step 3: Merge the gender assignment back to the original data_rating DataFrame
data_rating_sorted_gender = pd.merge(data_rating_sorted, user_gender, on="userId", how="left")

# Now data_rating_with_gender contains a new 'gender' column

print(data_rating_sorted_gender[1000:1020])

      userId  movieId  rating  timestamp gender
1000     436      169     3.0  833530110      M
1001     436      355     3.0  833530134      M
1002     436      356     4.0  833530134      M
1003     436      480     3.0  833530187      M
1004     436      471     3.0  833530187      M
1005     436      437     3.0  833530204      M
1006     436      589     4.0  833530204      M
1007     436      720     5.0  833530232      M
1008     436      377     4.0  833530232      M
1009     436      376     3.0  833530232      M
1010     436      527     5.0  833530252      M
1011     436      262     4.0  833530252      M
1012     436      174     2.0  833530268      M
1013     436      371     3.0  833530285      M
1014     436      500     4.0  833530300      M
1015     436      239     3.0  833530319      M
1016     436      362     3.0  833530341      M
1017     436      539     3.0  833530341      M
1018     436      474     4.0  833530400      M
1019     436      597     3.0  833530423      M